<h2>★収入登録</h2>
<%= form_with(model: @incomes, local: true) do |f| %>
☆日付
<div>
<%= f.date_field :date,include_blank: "--" %>
</div>
☆カテゴリー
<div>
<%= f.select :category, [["手当て"], ["給料"], ["小遣い"], ["ボーナス"], ["その他"]], include_blank: "--" %>
</div>
☆金額(円)
<div>
<%= f.text_field :price,placeholder:"半角英数字：例）300" %>
</div>
☆メモ
<div>
<%= f.text_area :memo, placeholder: "その他入力"%>
</div>
<div>
保存
</div>
<div>
追加
</div>
戻る

<% end %>